@import "tailwindcss";
/* @import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json"; */

/* *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
} */
